    public static void main(java.lang.String[]) throws java.lang.InterruptedException
    {
        java.lang.String[] args;
        java.lang.String $r0, s#11;
        java.lang.Boolean $r1;
        boolean $z0, $z1, a#7, b#9, $z2, $z3;
        byte a#15, b#17;
        java.lang.Object $r2;

        args := @parameter0: java.lang.String[];

        $r0 = args[0];

        $r1 = staticinvoke <java.lang.Boolean: java.lang.Boolean valueOf(java.lang.String)>($r0);

        $z0 = virtualinvoke $r1.<java.lang.Boolean: boolean booleanValue()>();

        $z1 = staticinvoke <edu.cmu.cs.mvelezce.analysis.option.Source: boolean getOptionA(boolean)>($z0);

        <edu.cmu.cs.mvelezce.Options: boolean A> = $z1;

        a#7 = 0;

        b#9 = 0;

        s#11 = null;

        $z2 = <edu.cmu.cs.mvelezce.Options: boolean A>;

        $z3 = staticinvoke <edu.cmu.cs.mvelezce.analysis.option.Sink: boolean getDecision(boolean)>($z2);

        if $z3 == 0 goto label1;

        a#15 = 2;

        b#17 = 3;

        s#11 = "sdf";

     label1:
        $r2 = staticinvoke <edu.cmu.cs.mvelezce.analysis.option.Sink: java.lang.Object getDecision(java.lang.Object)>(s#11);

        if $r2 != null goto label2;

     label2:
        return;
    }


