    public static void main(java.lang.String[]) throws java.lang.InterruptedException
    {
        java.lang.String[] args;
        boolean a, $z0, $z1;
        java.lang.String $r0, $r2;
        java.lang.Boolean $r1;
        java.lang.Integer $r3;
        int $i0;

        args := @parameter0: java.lang.String[];

        staticinvoke <edu.cmu.cs.mvelezce.analysis.option.Sink: void init()>();

        $z0 = staticinvoke <edu.cmu.cs.mvelezce.analysis.option.Source: boolean getOptionA(boolean)>(1);

        <edu.cmu.cs.mvelezce.Options: boolean A> = $z0;

        a = <edu.cmu.cs.mvelezce.Options: boolean A>;

        staticinvoke <edu.cmu.cs.mvelezce.analysis.option.Sink: void sink(java.lang.Object)>(a);

        if a == 0 goto label1;

        $r0 = args[0];

        $r1 = staticinvoke <java.lang.Boolean: java.lang.Boolean valueOf(java.lang.String)>($r0);

        $z1 = virtualinvoke $r1.<java.lang.Boolean: boolean booleanValue()>();

        staticinvoke <edu.cmu.cs.mvelezce.analysis.option.Sink: void sink(java.lang.Object)>($z1);

        if $z1 == 0 goto label1;

        $r2 = args[1];

        $r3 = staticinvoke <java.lang.Integer: java.lang.Integer valueOf(java.lang.String)>($r2);

        $i0 = virtualinvoke $r3.<java.lang.Integer: int intValue()>();

        staticinvoke <edu.cmu.cs.mvelezce.analysis.option.Sink: void sink(java.lang.Object)>($i0);

        if $i0 <= 132 goto label1;

        staticinvoke <java.lang.Thread: void sleep(long)>(2000L);

     label1:
        return;
    }


