    public static void main(java.lang.String[]) throws java.lang.InterruptedException
    {
        java.lang.String[] args;
        boolean a, b, c, d, $z0, $z1, $z2, $z3, $z4;

        args := @parameter0: java.lang.String[];

        staticinvoke <edu.cmu.cs.mvelezce.analysis.option.Sink: void init()>();

        $z0 = staticinvoke <edu.cmu.cs.mvelezce.analysis.option.Source: boolean getOptionA(boolean)>(1);

        <edu.cmu.cs.mvelezce.Options: boolean A> = $z0;

        $z1 = staticinvoke <edu.cmu.cs.mvelezce.analysis.option.Source: boolean getOptionB(boolean)>(1);

        <edu.cmu.cs.mvelezce.Options: boolean B> = $z1;

        $z2 = staticinvoke <edu.cmu.cs.mvelezce.analysis.option.Source: boolean getOptionC(boolean)>(1);

        <edu.cmu.cs.mvelezce.Options: boolean C> = $z2;

        $z3 = staticinvoke <edu.cmu.cs.mvelezce.analysis.option.Source: boolean getOptionD(boolean)>(1);

        <edu.cmu.cs.mvelezce.Options: boolean D> = $z3;

        a = <edu.cmu.cs.mvelezce.Options: boolean A>;

        b = <edu.cmu.cs.mvelezce.Options: boolean B>;

        c = <edu.cmu.cs.mvelezce.Options: boolean C>;

        d = <edu.cmu.cs.mvelezce.Options: boolean D>;

        $z4 = <edu.cmu.cs.mvelezce.Workload: boolean ONE>;

        nop;

        staticinvoke <edu.cmu.cs.mvelezce.analysis.option.Sink: void sink(java.lang.Object)>($z4);

        if $z4 == 0 goto label1;

        staticinvoke <edu.cmu.cs.mvelezce.Example: void foo(boolean,boolean,boolean)>(a, b, c);

     label1:
        return;
    }

    public static void foo(boolean, boolean, boolean) throws java.lang.InterruptedException
    {
        boolean a, b, c, x#2;

        a := @parameter0: boolean;

        b := @parameter1: boolean;

        c := @parameter2: boolean;

        x#2 = 0;

        nop;

        staticinvoke <edu.cmu.cs.mvelezce.analysis.option.Sink: void sink(java.lang.Object)>(a);

        if a == 0 goto label1;

        staticinvoke <java.lang.Thread: void sleep(long)>(2000L);

        staticinvoke <edu.cmu.cs.mvelezce.Example: void moo(boolean)>(c);

        x#2 = 1;

     label1:
        nop;

        staticinvoke <edu.cmu.cs.mvelezce.analysis.option.Sink: void sink(java.lang.Object)>(b);

        if b == 0 goto label2;

        nop;

        staticinvoke <edu.cmu.cs.mvelezce.analysis.option.Sink: void sink(java.lang.Object)>(x#2);

        if x#2 == 0 goto label2;

        staticinvoke <java.lang.Thread: void sleep(long)>(4000L);

     label2:
        return;
    }

    private static void moo(boolean) throws java.lang.InterruptedException
    {
        boolean c;

        c := @parameter0: boolean;

        nop;

        staticinvoke <edu.cmu.cs.mvelezce.analysis.option.Sink: void sink(java.lang.Object)>(c);

        if c == 0 goto label1;

        staticinvoke <java.lang.Thread: void sleep(long)>(7000L);

     label1:
        return;
    }

    public void <init>()
    {
        edu.cmu.cs.mvelezce.Example this;

        this := @this: edu.cmu.cs.mvelezce.Example;

        specialinvoke this.<java.lang.Object: void <init>()>();

        return;
    }


