    public void schedule(java.util.TimerTask, long, long)
    {
        java.util.Timer this;
        java.util.TimerTask param0;
        long param1, param2;

        this := @this: java.util.Timer;

        param0 := @parameter0: java.util.TimerTask;

        param1 := @parameter1: long;

        param2 := @parameter2: long;

        virtualinvoke param0.<java.util.TimerTask: void run()>();

        return;
    }


