digraph main {
"args := @parameter0: java.lang.String[] {1560142500}" -> "$r0 = <java.lang.System: java.io.PrintStream out> {16098944}";
"$r0 = <java.lang.System: java.io.PrintStream out> {16098944}" -> "virtualinvoke $r0.<java.io.PrintStream: void println(java.lang.String)>(\"Original\") {1912104290}";
"virtualinvoke $r0.<java.io.PrintStream: void println(java.lang.String)>(\"Original\") {1912104290}" -> "staticinvoke <edu.cmu.cs.mvelezce.analysis.option.Sink: void init()>() {1544821883}";
"staticinvoke <edu.cmu.cs.mvelezce.analysis.option.Sink: void init()>() {1544821883}" -> "$r1 = args[0] {81745089}";
"$r1 = args[0] {81745089}" -> "$r2 = staticinvoke <java.lang.Boolean: java.lang.Boolean valueOf(java.lang.String)>($r1) {2018801637}";
"$r2 = staticinvoke <java.lang.Boolean: java.lang.Boolean valueOf(java.lang.String)>($r1) {2018801637}" -> "$z0 = virtualinvoke $r2.<java.lang.Boolean: boolean booleanValue()>() {13193469}";
"$z0 = virtualinvoke $r2.<java.lang.Boolean: boolean booleanValue()>() {13193469}" -> "$z1 = staticinvoke <edu.cmu.cs.mvelezce.analysis.option.Source: boolean getOptionA(boolean)>($z0) {1100358297}";
"$z1 = staticinvoke <edu.cmu.cs.mvelezce.analysis.option.Source: boolean getOptionA(boolean)>($z0) {1100358297}" -> "<edu.cmu.cs.mvelezce.Options: boolean A> = $z1 {1066471222}";
"<edu.cmu.cs.mvelezce.Options: boolean A> = $z1 {1066471222}" -> "$r3 = args[1] {1582770952}";
"$r3 = args[1] {1582770952}" -> "$r4 = staticinvoke <java.lang.Boolean: java.lang.Boolean valueOf(java.lang.String)>($r3) {1762158411}";
"$r4 = staticinvoke <java.lang.Boolean: java.lang.Boolean valueOf(java.lang.String)>($r3) {1762158411}" -> "$z2 = virtualinvoke $r4.<java.lang.Boolean: boolean booleanValue()>() {10740824}";
"$z2 = virtualinvoke $r4.<java.lang.Boolean: boolean booleanValue()>() {10740824}" -> "$z3 = staticinvoke <edu.cmu.cs.mvelezce.analysis.option.Source: boolean getOptionB(boolean)>($z2) {79120973}";
"$z3 = staticinvoke <edu.cmu.cs.mvelezce.analysis.option.Source: boolean getOptionB(boolean)>($z2) {79120973}" -> "<edu.cmu.cs.mvelezce.Options: boolean B> = $z3 {1675570872}";
"<edu.cmu.cs.mvelezce.Options: boolean B> = $z3 {1675570872}" -> "$r5 = args[2] {1744981591}";
"$r5 = args[2] {1744981591}" -> "$r6 = staticinvoke <java.lang.Boolean: java.lang.Boolean valueOf(java.lang.String)>($r5) {1915885313}";
"$r6 = staticinvoke <java.lang.Boolean: java.lang.Boolean valueOf(java.lang.String)>($r5) {1915885313}" -> "$z4 = virtualinvoke $r6.<java.lang.Boolean: boolean booleanValue()>() {49820775}";
"$z4 = virtualinvoke $r6.<java.lang.Boolean: boolean booleanValue()>() {49820775}" -> "$z5 = staticinvoke <edu.cmu.cs.mvelezce.analysis.option.Source: boolean getOptionC(boolean)>($z4) {405039568}";
"$z5 = staticinvoke <edu.cmu.cs.mvelezce.analysis.option.Source: boolean getOptionC(boolean)>($z4) {405039568}" -> "<edu.cmu.cs.mvelezce.Options: boolean C> = $z5 {1655635061}";
"<edu.cmu.cs.mvelezce.Options: boolean C> = $z5 {1655635061}" -> "$r7 = args[3] {2022680863}";
"$r7 = args[3] {2022680863}" -> "$r8 = staticinvoke <java.lang.Boolean: java.lang.Boolean valueOf(java.lang.String)>($r7) {1842851631}";
"$r8 = staticinvoke <java.lang.Boolean: java.lang.Boolean valueOf(java.lang.String)>($r7) {1842851631}" -> "$z6 = virtualinvoke $r8.<java.lang.Boolean: boolean booleanValue()>() {1586219070}";
"$z6 = virtualinvoke $r8.<java.lang.Boolean: boolean booleanValue()>() {1586219070}" -> "$z7 = staticinvoke <edu.cmu.cs.mvelezce.analysis.option.Source: boolean getOptionD(boolean)>($z6) {1819657704}";
"$z7 = staticinvoke <edu.cmu.cs.mvelezce.analysis.option.Source: boolean getOptionD(boolean)>($z6) {1819657704}" -> "<edu.cmu.cs.mvelezce.Options: boolean D> = $z7 {1765232168}";
"<edu.cmu.cs.mvelezce.Options: boolean D> = $z7 {1765232168}" -> "a = <edu.cmu.cs.mvelezce.Options: boolean A> {2065373060}";
"a = <edu.cmu.cs.mvelezce.Options: boolean A> {2065373060}" -> "b = <edu.cmu.cs.mvelezce.Options: boolean B> {2142908670}";
"b = <edu.cmu.cs.mvelezce.Options: boolean B> {2142908670}" -> "c = <edu.cmu.cs.mvelezce.Options: boolean C> {1491019876}";
"c = <edu.cmu.cs.mvelezce.Options: boolean C> {1491019876}" -> "d = <edu.cmu.cs.mvelezce.Options: boolean D> {1049553497}";
"d = <edu.cmu.cs.mvelezce.Options: boolean D> {1049553497}" -> "$z8 = <edu.cmu.cs.mvelezce.Workload: boolean ONE> {531855844}";
"$z8 = <edu.cmu.cs.mvelezce.Workload: boolean ONE> {531855844}" -> "staticinvoke <edu.cmu.cs.mvelezce.analysis.option.Sink: void sink(java.lang.Object)>($z8) {1166344401}";
"staticinvoke <edu.cmu.cs.mvelezce.analysis.option.Sink: void sink(java.lang.Object)>($z8) {1166344401}" -> "if $z8 == 0 goto return {261980805}";
"if $z8 == 0 goto return {261980805}" -> "staticinvoke <edu.cmu.cs.mvelezce.Example: void foo(boolean,boolean,boolean)>(a, b, c) {552806685}";
"if $z8 == 0 goto return {261980805}" -> "return {793882880}";
"staticinvoke <edu.cmu.cs.mvelezce.Example: void foo(boolean,boolean,boolean)>(a, b, c) {552806685}" -> "return {793882880}";
"staticinvoke <edu.cmu.cs.mvelezce.analysis.option.Sink: void sink(java.lang.Object)>($z8) {1166344401}"[fontcolor="blue", penwidth=3, color="blue"];
}

digraph foo {
"a := @parameter0: boolean {1516522869}" -> "b := @parameter1: boolean {646910575}";
"b := @parameter1: boolean {646910575}" -> "c := @parameter2: boolean {1049204172}";
"c := @parameter2: boolean {1049204172}" -> "x#2 = 0 {2075922925}";
"x#2 = 0 {2075922925}" -> "staticinvoke <edu.cmu.cs.mvelezce.analysis.option.Sink: void sink(java.lang.Object)>(a) {1506536174}";
"staticinvoke <edu.cmu.cs.mvelezce.analysis.option.Sink: void sink(java.lang.Object)>(a) {1506536174}" -> "if a == 0 goto staticinvoke <edu.cmu.cs.mvelezce.analysis.option.Sink: void sink(java.lang.Object)>(b) {920722272}";
"if a == 0 goto staticinvoke <edu.cmu.cs.mvelezce.analysis.option.Sink: void sink(java.lang.Object)>(b) {920722272}" -> "staticinvoke <java.lang.Thread: void sleep(long)>(1000L) {1794125280}";
"if a == 0 goto staticinvoke <edu.cmu.cs.mvelezce.analysis.option.Sink: void sink(java.lang.Object)>(b) {920722272}" -> "staticinvoke <edu.cmu.cs.mvelezce.analysis.option.Sink: void sink(java.lang.Object)>(b) {848948780}";
"staticinvoke <java.lang.Thread: void sleep(long)>(1000L) {1794125280}" -> "staticinvoke <edu.cmu.cs.mvelezce.Example: void moo(boolean)>(c) {164491582}";
"staticinvoke <edu.cmu.cs.mvelezce.Example: void moo(boolean)>(c) {164491582}" -> "x#2 = 1 {1343837945}";
"x#2 = 1 {1343837945}" -> "staticinvoke <edu.cmu.cs.mvelezce.analysis.option.Sink: void sink(java.lang.Object)>(b) {848948780}";
"staticinvoke <edu.cmu.cs.mvelezce.analysis.option.Sink: void sink(java.lang.Object)>(b) {848948780}" -> "if b == 0 goto return {1337906940}";
"if b == 0 goto return {1337906940}" -> "staticinvoke <edu.cmu.cs.mvelezce.analysis.option.Sink: void sink(java.lang.Object)>(x#2) {88241567}";
"if b == 0 goto return {1337906940}" -> "return {34241760}";
"staticinvoke <edu.cmu.cs.mvelezce.analysis.option.Sink: void sink(java.lang.Object)>(x#2) {88241567}" -> "if x#2 == 0 goto return {19509485}";
"if x#2 == 0 goto return {19509485}" -> "staticinvoke <java.lang.Thread: void sleep(long)>(2000L) {1979657069}";
"if x#2 == 0 goto return {19509485}" -> "return {34241760}";
"staticinvoke <java.lang.Thread: void sleep(long)>(2000L) {1979657069}" -> "return {34241760}";
"staticinvoke <edu.cmu.cs.mvelezce.analysis.option.Sink: void sink(java.lang.Object)>(x#2) {88241567}"[fontcolor="blue", penwidth=3, color="blue"];
"staticinvoke <edu.cmu.cs.mvelezce.analysis.option.Sink: void sink(java.lang.Object)>(b) {848948780}"[fontcolor="blue", penwidth=3, color="blue"];
"staticinvoke <edu.cmu.cs.mvelezce.analysis.option.Sink: void sink(java.lang.Object)>(a) {1506536174}"[fontcolor="blue", penwidth=3, color="blue"];
}

digraph moo {
"c := @parameter0: boolean {1485182201}" -> "staticinvoke <edu.cmu.cs.mvelezce.analysis.option.Sink: void sink(java.lang.Object)>(c) {1756130926}";
"staticinvoke <edu.cmu.cs.mvelezce.analysis.option.Sink: void sink(java.lang.Object)>(c) {1756130926}" -> "if c == 0 goto return {1998511629}";
"if c == 0 goto return {1998511629}" -> "staticinvoke <java.lang.Thread: void sleep(long)>(4000L) {88893820}";
"if c == 0 goto return {1998511629}" -> "return {1644650045}";
"staticinvoke <java.lang.Thread: void sleep(long)>(4000L) {88893820}" -> "return {1644650045}";
"staticinvoke <edu.cmu.cs.mvelezce.analysis.option.Sink: void sink(java.lang.Object)>(c) {1756130926}"[fontcolor="blue", penwidth=3, color="blue"];
}

digraph <init> {
"this := @this: edu.cmu.cs.mvelezce.Example {346269292}" -> "specialinvoke this.<java.lang.Object: void <init>()>() {1071755896}";
"specialinvoke this.<java.lang.Object: void <init>()>() {1071755896}" -> "return {913896238}";
}


