digraph main {
"args := @parameter0: java.lang.String[] {1762997532}" -> "$r0 = <java.lang.System: java.io.PrintStream out> {2078517303}";
"$r0 = <java.lang.System: java.io.PrintStream out> {2078517303}" -> "virtualinvoke $r0.<java.io.PrintStream: void println(java.lang.String)>(\"Original\") {1219970301}";
"virtualinvoke $r0.<java.io.PrintStream: void println(java.lang.String)>(\"Original\") {1219970301}" -> "staticinvoke <edu.cmu.cs.mvelezce.analysis.option.Sink: void init()>() {787738572}";
"staticinvoke <edu.cmu.cs.mvelezce.analysis.option.Sink: void init()>() {787738572}" -> "$r1 = args[0] {1998948845}";
"$r1 = args[0] {1998948845}" -> "$r2 = staticinvoke <java.lang.Boolean: java.lang.Boolean valueOf(java.lang.String)>($r1) {1176077642}";
"$r2 = staticinvoke <java.lang.Boolean: java.lang.Boolean valueOf(java.lang.String)>($r1) {1176077642}" -> "$z0 = virtualinvoke $r2.<java.lang.Boolean: boolean booleanValue()>() {201591949}";
"$z0 = virtualinvoke $r2.<java.lang.Boolean: boolean booleanValue()>() {201591949}" -> "$z1 = staticinvoke <edu.cmu.cs.mvelezce.analysis.option.Source: boolean getOptionA(boolean)>($z0) {877918108}";
"$z1 = staticinvoke <edu.cmu.cs.mvelezce.analysis.option.Source: boolean getOptionA(boolean)>($z0) {877918108}" -> "<edu.cmu.cs.mvelezce.Options: boolean A> = $z1 {1868724762}";
"<edu.cmu.cs.mvelezce.Options: boolean A> = $z1 {1868724762}" -> "$r3 = args[1] {1649633410}";
"$r3 = args[1] {1649633410}" -> "$r4 = staticinvoke <java.lang.Boolean: java.lang.Boolean valueOf(java.lang.String)>($r3) {513633400}";
"$r4 = staticinvoke <java.lang.Boolean: java.lang.Boolean valueOf(java.lang.String)>($r3) {513633400}" -> "$z2 = virtualinvoke $r4.<java.lang.Boolean: boolean booleanValue()>() {670332443}";
"$z2 = virtualinvoke $r4.<java.lang.Boolean: boolean booleanValue()>() {670332443}" -> "$z3 = staticinvoke <edu.cmu.cs.mvelezce.analysis.option.Source: boolean getOptionB(boolean)>($z2) {1390374159}";
"$z3 = staticinvoke <edu.cmu.cs.mvelezce.analysis.option.Source: boolean getOptionB(boolean)>($z2) {1390374159}" -> "<edu.cmu.cs.mvelezce.Options: boolean B> = $z3 {733026478}";
"<edu.cmu.cs.mvelezce.Options: boolean B> = $z3 {733026478}" -> "$r5 = args[2] {1935935291}";
"$r5 = args[2] {1935935291}" -> "$r6 = staticinvoke <java.lang.Boolean: java.lang.Boolean valueOf(java.lang.String)>($r5) {1345525137}";
"$r6 = staticinvoke <java.lang.Boolean: java.lang.Boolean valueOf(java.lang.String)>($r5) {1345525137}" -> "$z4 = virtualinvoke $r6.<java.lang.Boolean: boolean booleanValue()>() {1560142500}";
"$z4 = virtualinvoke $r6.<java.lang.Boolean: boolean booleanValue()>() {1560142500}" -> "$z5 = staticinvoke <edu.cmu.cs.mvelezce.analysis.option.Source: boolean getOptionC(boolean)>($z4) {1408974363}";
"$z5 = staticinvoke <edu.cmu.cs.mvelezce.analysis.option.Source: boolean getOptionC(boolean)>($z4) {1408974363}" -> "<edu.cmu.cs.mvelezce.Options: boolean C> = $z5 {16098944}";
"<edu.cmu.cs.mvelezce.Options: boolean C> = $z5 {16098944}" -> "$r7 = args[3] {1912104290}";
"$r7 = args[3] {1912104290}" -> "$r8 = staticinvoke <java.lang.Boolean: java.lang.Boolean valueOf(java.lang.String)>($r7) {1544821883}";
"$r8 = staticinvoke <java.lang.Boolean: java.lang.Boolean valueOf(java.lang.String)>($r7) {1544821883}" -> "$z6 = virtualinvoke $r8.<java.lang.Boolean: boolean booleanValue()>() {21964111}";
"$z6 = virtualinvoke $r8.<java.lang.Boolean: boolean booleanValue()>() {21964111}" -> "$z7 = staticinvoke <edu.cmu.cs.mvelezce.analysis.option.Source: boolean getOptionD(boolean)>($z6) {910091281}";
"$z7 = staticinvoke <edu.cmu.cs.mvelezce.analysis.option.Source: boolean getOptionD(boolean)>($z6) {910091281}" -> "<edu.cmu.cs.mvelezce.Options: boolean D> = $z7 {81745089}";
"<edu.cmu.cs.mvelezce.Options: boolean D> = $z7 {81745089}" -> "a = <edu.cmu.cs.mvelezce.Options: boolean A> {1100358297}";
"a = <edu.cmu.cs.mvelezce.Options: boolean A> {1100358297}" -> "b = <edu.cmu.cs.mvelezce.Options: boolean B> {774194879}";
"b = <edu.cmu.cs.mvelezce.Options: boolean B> {774194879}" -> "c = <edu.cmu.cs.mvelezce.Options: boolean C> {10740824}";
"c = <edu.cmu.cs.mvelezce.Options: boolean C> {10740824}" -> "d = <edu.cmu.cs.mvelezce.Options: boolean D> {1237790647}";
"d = <edu.cmu.cs.mvelezce.Options: boolean D> {1237790647}" -> "$z8 = <edu.cmu.cs.mvelezce.Workload: boolean ONE> {1448707059}";
"$z8 = <edu.cmu.cs.mvelezce.Workload: boolean ONE> {1448707059}" -> "staticinvoke <edu.cmu.cs.mvelezce.analysis.option.Sink: void sink(java.lang.Object)>($z8) {1929145182}";
"staticinvoke <edu.cmu.cs.mvelezce.analysis.option.Sink: void sink(java.lang.Object)>($z8) {1929145182}" -> "if $z8 == 0 goto return {1744981591}";
"if $z8 == 0 goto return {1744981591}" -> "staticinvoke <edu.cmu.cs.mvelezce.Example: void foo(boolean,boolean,boolean)>(a, b, c) {13002046}";
"if $z8 == 0 goto return {1744981591}" -> "return {1130242637}";
"staticinvoke <edu.cmu.cs.mvelezce.Example: void foo(boolean,boolean,boolean)>(a, b, c) {13002046}" -> "return {1130242637}";
"staticinvoke <edu.cmu.cs.mvelezce.analysis.option.Sink: void sink(java.lang.Object)>($z8) {1929145182}"[fontcolor="blue", penwidth=3, color="blue"];
}

digraph foo {
"a := @parameter0: boolean {788557535}" -> "b := @parameter1: boolean {685573007}";
"b := @parameter1: boolean {685573007}" -> "c := @parameter2: boolean {495113052}";
"c := @parameter2: boolean {495113052}" -> "x = 0 {656689800}";
"x = 0 {656689800}" -> "staticinvoke <edu.cmu.cs.mvelezce.analysis.option.Sink: void sink(java.lang.Object)>(a) {70595120}";
"staticinvoke <edu.cmu.cs.mvelezce.analysis.option.Sink: void sink(java.lang.Object)>(a) {70595120}" -> "if a == 0 goto staticinvoke <edu.cmu.cs.mvelezce.analysis.option.Sink: void sink(java.lang.Object)>(b) {1780694323}";
"if a == 0 goto staticinvoke <edu.cmu.cs.mvelezce.analysis.option.Sink: void sink(java.lang.Object)>(b) {1780694323}" -> "staticinvoke <java.lang.Thread: void sleep(long)>(2000L) {2027236684}";
"if a == 0 goto staticinvoke <edu.cmu.cs.mvelezce.analysis.option.Sink: void sink(java.lang.Object)>(b) {1780694323}" -> "staticinvoke <edu.cmu.cs.mvelezce.analysis.option.Sink: void sink(java.lang.Object)>(b) {153175845}";
"staticinvoke <java.lang.Thread: void sleep(long)>(2000L) {2027236684}" -> "staticinvoke <edu.cmu.cs.mvelezce.Example: void moo(boolean)>(c) {881883721}";
"staticinvoke <edu.cmu.cs.mvelezce.Example: void moo(boolean)>(c) {881883721}" -> "staticinvoke <edu.cmu.cs.mvelezce.analysis.option.Sink: void sink(java.lang.Object)>(b) {153175845}";
"staticinvoke <edu.cmu.cs.mvelezce.analysis.option.Sink: void sink(java.lang.Object)>(b) {153175845}" -> "if b == 0 goto return {451046489}";
"if b == 0 goto return {451046489}" -> "staticinvoke <java.lang.Thread: void sleep(long)>(4000L) {576229564}";
"if b == 0 goto return {451046489}" -> "return {2123339741}";
"staticinvoke <java.lang.Thread: void sleep(long)>(4000L) {576229564}" -> "staticinvoke <edu.cmu.cs.mvelezce.Example: void moo(boolean)>(c) {72047444}";
"staticinvoke <edu.cmu.cs.mvelezce.Example: void moo(boolean)>(c) {72047444}" -> "return {2123339741}";
"staticinvoke <edu.cmu.cs.mvelezce.analysis.option.Sink: void sink(java.lang.Object)>(b) {153175845}"[fontcolor="blue", penwidth=3, color="blue"];
"staticinvoke <edu.cmu.cs.mvelezce.analysis.option.Sink: void sink(java.lang.Object)>(a) {70595120}"[fontcolor="blue", penwidth=3, color="blue"];
}

digraph moo {
"c := @parameter0: boolean {2107902964}" -> "staticinvoke <edu.cmu.cs.mvelezce.analysis.option.Sink: void sink(java.lang.Object)>(c) {681418509}";
"staticinvoke <edu.cmu.cs.mvelezce.analysis.option.Sink: void sink(java.lang.Object)>(c) {681418509}" -> "if c == 0 goto return {1076906296}";
"if c == 0 goto return {1076906296}" -> "staticinvoke <java.lang.Thread: void sleep(long)>(7000L) {1822325490}";
"if c == 0 goto return {1076906296}" -> "return {1221309637}";
"staticinvoke <java.lang.Thread: void sleep(long)>(7000L) {1822325490}" -> "return {1221309637}";
"staticinvoke <edu.cmu.cs.mvelezce.analysis.option.Sink: void sink(java.lang.Object)>(c) {681418509}"[fontcolor="blue", penwidth=3, color="blue"];
}

digraph <init> {
"this := @this: edu.cmu.cs.mvelezce.Example {1387446869}" -> "specialinvoke this.<java.lang.Object: void <init>()>() {943533613}";
"specialinvoke this.<java.lang.Object: void <init>()>() {943533613}" -> "return {2086269717}";
}


