digraph main {
"args := @parameter0: java.lang.String[] {1744981591}" -> "$r0 = <java.lang.System: java.io.PrintStream out> {49820775}";
"$r0 = <java.lang.System: java.io.PrintStream out> {49820775}" -> "virtualinvoke $r0.<java.io.PrintStream: void println(java.lang.String)>(\"Original\") {13002046}";
"virtualinvoke $r0.<java.io.PrintStream: void println(java.lang.String)>(\"Original\") {13002046}" -> "staticinvoke <edu.cmu.cs.mvelezce.analysis.option.Sink: void init()>() {1130242637}";
"staticinvoke <edu.cmu.cs.mvelezce.analysis.option.Sink: void init()>() {1130242637}" -> "$r1 = args[0] {1586219070}";
"$r1 = args[0] {1586219070}" -> "$r2 = staticinvoke <java.lang.Boolean: java.lang.Boolean valueOf(java.lang.String)>($r1) {1819657704}";
"$r2 = staticinvoke <java.lang.Boolean: java.lang.Boolean valueOf(java.lang.String)>($r1) {1819657704}" -> "$z0 = virtualinvoke $r2.<java.lang.Boolean: boolean booleanValue()>() {1765232168}";
"$z0 = virtualinvoke $r2.<java.lang.Boolean: boolean booleanValue()>() {1765232168}" -> "$z1 = staticinvoke <edu.cmu.cs.mvelezce.analysis.option.Source: boolean getOptionA(boolean)>($z0) {969489142}";
"$z1 = staticinvoke <edu.cmu.cs.mvelezce.analysis.option.Source: boolean getOptionA(boolean)>($z0) {969489142}" -> "<edu.cmu.cs.mvelezce.Options: boolean A> = $z1 {956551113}";
"<edu.cmu.cs.mvelezce.Options: boolean A> = $z1 {956551113}" -> "$r3 = args[1] {1491128748}";
"$r3 = args[1] {1491128748}" -> "$r4 = staticinvoke <java.lang.Boolean: java.lang.Boolean valueOf(java.lang.String)>($r3) {2142908670}";
"$r4 = staticinvoke <java.lang.Boolean: java.lang.Boolean valueOf(java.lang.String)>($r3) {2142908670}" -> "$z2 = virtualinvoke $r4.<java.lang.Boolean: boolean booleanValue()>() {1556004794}";
"$z2 = virtualinvoke $r4.<java.lang.Boolean: boolean booleanValue()>() {1556004794}" -> "$z3 = staticinvoke <edu.cmu.cs.mvelezce.analysis.option.Source: boolean getOptionB(boolean)>($z2) {107799732}";
"$z3 = staticinvoke <edu.cmu.cs.mvelezce.analysis.option.Source: boolean getOptionB(boolean)>($z2) {107799732}" -> "<edu.cmu.cs.mvelezce.Options: boolean B> = $z3 {1491019876}";
"<edu.cmu.cs.mvelezce.Options: boolean B> = $z3 {1491019876}" -> "$r5 = args[2] {1049553497}";
"$r5 = args[2] {1049553497}" -> "$r6 = staticinvoke <java.lang.Boolean: java.lang.Boolean valueOf(java.lang.String)>($r5) {531855844}";
"$r6 = staticinvoke <java.lang.Boolean: java.lang.Boolean valueOf(java.lang.String)>($r5) {531855844}" -> "$z4 = virtualinvoke $r6.<java.lang.Boolean: boolean booleanValue()>() {261980805}";
"$z4 = virtualinvoke $r6.<java.lang.Boolean: boolean booleanValue()>() {261980805}" -> "$z5 = staticinvoke <edu.cmu.cs.mvelezce.analysis.option.Source: boolean getOptionC(boolean)>($z4) {1739703215}";
"$z5 = staticinvoke <edu.cmu.cs.mvelezce.analysis.option.Source: boolean getOptionC(boolean)>($z4) {1739703215}" -> "<edu.cmu.cs.mvelezce.Options: boolean C> = $z5 {774123810}";
"<edu.cmu.cs.mvelezce.Options: boolean C> = $z5 {774123810}" -> "$r7 = args[3] {552806685}";
"$r7 = args[3] {552806685}" -> "$r8 = staticinvoke <java.lang.Boolean: java.lang.Boolean valueOf(java.lang.String)>($r7) {793882880}";
"$r8 = staticinvoke <java.lang.Boolean: java.lang.Boolean valueOf(java.lang.String)>($r7) {793882880}" -> "$z6 = virtualinvoke $r8.<java.lang.Boolean: boolean booleanValue()>() {1699593080}";
"$z6 = virtualinvoke $r8.<java.lang.Boolean: boolean booleanValue()>() {1699593080}" -> "$z7 = staticinvoke <edu.cmu.cs.mvelezce.analysis.option.Source: boolean getOptionD(boolean)>($z6) {498759457}";
"$z7 = staticinvoke <edu.cmu.cs.mvelezce.analysis.option.Source: boolean getOptionD(boolean)>($z6) {498759457}" -> "<edu.cmu.cs.mvelezce.Options: boolean D> = $z7 {607657546}";
"<edu.cmu.cs.mvelezce.Options: boolean D> = $z7 {607657546}" -> "a = <edu.cmu.cs.mvelezce.Options: boolean A> {1074852402}";
"a = <edu.cmu.cs.mvelezce.Options: boolean A> {1074852402}" -> "b = <edu.cmu.cs.mvelezce.Options: boolean B> {1529948259}";
"b = <edu.cmu.cs.mvelezce.Options: boolean B> {1529948259}" -> "c = <edu.cmu.cs.mvelezce.Options: boolean C> {1803467457}";
"c = <edu.cmu.cs.mvelezce.Options: boolean C> {1803467457}" -> "d = <edu.cmu.cs.mvelezce.Options: boolean D> {784488689}";
"d = <edu.cmu.cs.mvelezce.Options: boolean D> {784488689}" -> "staticinvoke <java.lang.Thread: void sleep(long)>(1000L) {2118892964}";
"staticinvoke <java.lang.Thread: void sleep(long)>(1000L) {2118892964}" -> "$z8 = <edu.cmu.cs.mvelezce.Workload: boolean ONE> {787309361}";
"$z8 = <edu.cmu.cs.mvelezce.Workload: boolean ONE> {787309361}" -> "staticinvoke <edu.cmu.cs.mvelezce.analysis.option.Sink: void sink(java.lang.Object)>($z8) {1795011718}";
"staticinvoke <edu.cmu.cs.mvelezce.analysis.option.Sink: void sink(java.lang.Object)>($z8) {1795011718}" -> "if $z8 == 0 goto return {307536845}";
"if $z8 == 0 goto return {307536845}" -> "staticinvoke <edu.cmu.cs.mvelezce.Example: void foo(boolean,boolean,boolean)>(a, b, c) {374123858}";
"if $z8 == 0 goto return {307536845}" -> "return {1536653994}";
"staticinvoke <edu.cmu.cs.mvelezce.Example: void foo(boolean,boolean,boolean)>(a, b, c) {374123858}" -> "return {1536653994}";
"staticinvoke <edu.cmu.cs.mvelezce.analysis.option.Sink: void sink(java.lang.Object)>($z8) {1795011718}"[fontcolor="blue", penwidth=3, color="blue"];
}

digraph foo {
"a := @parameter0: boolean {2085001212}" -> "b := @parameter1: boolean {242204546}";
"b := @parameter1: boolean {242204546}" -> "c := @parameter2: boolean {501674653}";
"c := @parameter2: boolean {501674653}" -> "x#2 = 0 {2134398042}";
"x#2 = 0 {2134398042}" -> "staticinvoke <edu.cmu.cs.mvelezce.analysis.option.Sink: void sink(java.lang.Object)>(a) {840692913}";
"staticinvoke <edu.cmu.cs.mvelezce.analysis.option.Sink: void sink(java.lang.Object)>(a) {840692913}" -> "if a == 0 goto staticinvoke <edu.cmu.cs.mvelezce.analysis.option.Sink: void sink(java.lang.Object)>(b) {218353095}";
"if a == 0 goto staticinvoke <edu.cmu.cs.mvelezce.analysis.option.Sink: void sink(java.lang.Object)>(b) {218353095}" -> "staticinvoke <java.lang.Thread: void sleep(long)>(2000L) {1680028886}";
"if a == 0 goto staticinvoke <edu.cmu.cs.mvelezce.analysis.option.Sink: void sink(java.lang.Object)>(b) {218353095}" -> "staticinvoke <edu.cmu.cs.mvelezce.analysis.option.Sink: void sink(java.lang.Object)>(b) {1700987158}";
"staticinvoke <java.lang.Thread: void sleep(long)>(2000L) {1680028886}" -> "staticinvoke <edu.cmu.cs.mvelezce.Example: void moo(boolean)>(c) {2086004057}";
"staticinvoke <edu.cmu.cs.mvelezce.Example: void moo(boolean)>(c) {2086004057}" -> "x#2 = 1 {2044200796}";
"x#2 = 1 {2044200796}" -> "staticinvoke <edu.cmu.cs.mvelezce.analysis.option.Sink: void sink(java.lang.Object)>(b) {1700987158}";
"staticinvoke <edu.cmu.cs.mvelezce.analysis.option.Sink: void sink(java.lang.Object)>(b) {1700987158}" -> "if b == 0 goto return {510622757}";
"if b == 0 goto return {510622757}" -> "staticinvoke <edu.cmu.cs.mvelezce.analysis.option.Sink: void sink(java.lang.Object)>(x#2) {1502571667}";
"if b == 0 goto return {510622757}" -> "return {1897030087}";
"staticinvoke <edu.cmu.cs.mvelezce.analysis.option.Sink: void sink(java.lang.Object)>(x#2) {1502571667}" -> "if x#2 == 0 goto return {589577152}";
"if x#2 == 0 goto return {589577152}" -> "staticinvoke <java.lang.Thread: void sleep(long)>(4000L) {308803634}";
"if x#2 == 0 goto return {589577152}" -> "return {1897030087}";
"staticinvoke <java.lang.Thread: void sleep(long)>(4000L) {308803634}" -> "return {1897030087}";
"staticinvoke <edu.cmu.cs.mvelezce.analysis.option.Sink: void sink(java.lang.Object)>(b) {1700987158}"[fontcolor="blue", penwidth=3, color="blue"];
"staticinvoke <edu.cmu.cs.mvelezce.analysis.option.Sink: void sink(java.lang.Object)>(x#2) {1502571667}"[fontcolor="blue", penwidth=3, color="blue"];
"staticinvoke <edu.cmu.cs.mvelezce.analysis.option.Sink: void sink(java.lang.Object)>(a) {840692913}"[fontcolor="blue", penwidth=3, color="blue"];
}

digraph moo {
"c := @parameter0: boolean {1563163807}" -> "staticinvoke <edu.cmu.cs.mvelezce.analysis.option.Sink: void sink(java.lang.Object)>(c) {1648214200}";
"staticinvoke <edu.cmu.cs.mvelezce.analysis.option.Sink: void sink(java.lang.Object)>(c) {1648214200}" -> "if c == 0 goto return {133900525}";
"if c == 0 goto return {133900525}" -> "staticinvoke <java.lang.Thread: void sleep(long)>(7000L) {724826016}";
"if c == 0 goto return {133900525}" -> "return {1907813883}";
"staticinvoke <java.lang.Thread: void sleep(long)>(7000L) {724826016}" -> "return {1907813883}";
"staticinvoke <edu.cmu.cs.mvelezce.analysis.option.Sink: void sink(java.lang.Object)>(c) {1648214200}"[fontcolor="blue", penwidth=3, color="blue"];
}

digraph <init> {
"this := @this: edu.cmu.cs.mvelezce.Example {88241567}" -> "specialinvoke this.<java.lang.Object: void <init>()>() {321068667}";
"specialinvoke this.<java.lang.Object: void <init>()>() {321068667}" -> "return {89882381}";
}


