digraph isSet {
"$r0 = <java.security.Policy: java.util.concurrent.atomic.AtomicReference policy> {1766001424}" -> "$r1 = virtualinvoke $r0.<java.util.concurrent.atomic.AtomicReference: java.lang.Object get()>() {434987312}";
"$r1 = virtualinvoke $r0.<java.util.concurrent.atomic.AtomicReference: java.lang.Object get()>() {434987312}" -> "l0 = (java.security.Policy$PolicyInfo) $r1 {1135355544}";
"l0 = (java.security.Policy$PolicyInfo) $r1 {1135355544}" -> "$r2 = l0.<java.security.Policy$PolicyInfo: java.security.Policy policy> {285242746}";
"$r2 = l0.<java.security.Policy$PolicyInfo: java.security.Policy policy> {285242746}" -> "staticinvoke <edu.cmu.cs.mvelezce.analysis.option.Sink: void sink(java.lang.Object)>($r2) {1591761819}";
"staticinvoke <edu.cmu.cs.mvelezce.analysis.option.Sink: void sink(java.lang.Object)>($r2) {1591761819}" -> "if $r2 == null goto $z1 = 0 {381901817}";
"if $r2 == null goto $z1 = 0 {381901817}" -> "$z0 = l0.<java.security.Policy$PolicyInfo: boolean initialized> {1417316647}";
"if $r2 == null goto $z1 = 0 {381901817}" -> "$z1 = 0 {1065069215}";
"$z0 = l0.<java.security.Policy$PolicyInfo: boolean initialized> {1417316647}" -> "staticinvoke <edu.cmu.cs.mvelezce.analysis.option.Sink: void sink(java.lang.Object)>($z0) {71686723}";
"staticinvoke <edu.cmu.cs.mvelezce.analysis.option.Sink: void sink(java.lang.Object)>($z0) {71686723}" -> "if $z0 != 1 goto $z1 = 0 {929898271}";
"if $z0 != 1 goto $z1 = 0 {929898271}" -> "$z1 = 1 {937335652}";
"if $z0 != 1 goto $z1 = 0 {929898271}" -> "$z1 = 0 {1065069215}";
"$z1 = 1 {937335652}" -> "goto [?= return $z1] {1831604445}";
"goto [?= return $z1] {1831604445}" -> "return $z1 {1622269832}";
"$z1 = 0 {1065069215}" -> "return $z1 {1622269832}";
"staticinvoke <edu.cmu.cs.mvelezce.analysis.option.Sink: void sink(java.lang.Object)>($z0) {71686723}"[fontcolor="blue", penwidth=3, color="blue"];
"staticinvoke <edu.cmu.cs.mvelezce.analysis.option.Sink: void sink(java.lang.Object)>($r2) {1591761819}"[fontcolor="blue", penwidth=3, color="blue"];
}

digraph <clinit> {
"$r1 = new java.security.Policy$UnsupportedEmptyCollection {1968915961}" -> "specialinvoke $r1.<java.security.Policy$UnsupportedEmptyCollection: void <init>()>() {856612898}";
"specialinvoke $r1.<java.security.Policy$UnsupportedEmptyCollection: void <init>()>() {856612898}" -> "<java.security.Policy: java.security.PermissionCollection UNSUPPORTED_EMPTY_COLLECTION> = $r1 {483725111}";
"<java.security.Policy: java.security.PermissionCollection UNSUPPORTED_EMPTY_COLLECTION> = $r1 {483725111}" -> "$r2 = new java.util.concurrent.atomic.AtomicReference {1866898159}";
"$r2 = new java.util.concurrent.atomic.AtomicReference {1866898159}" -> "$r0 = new java.security.Policy$PolicyInfo {585143900}";
"$r0 = new java.security.Policy$PolicyInfo {585143900}" -> "specialinvoke $r0.<java.security.Policy$PolicyInfo: void <init>(java.security.Policy,boolean)>(null, 0) {750173285}";
"specialinvoke $r0.<java.security.Policy$PolicyInfo: void <init>(java.security.Policy,boolean)>(null, 0) {750173285}" -> "specialinvoke $r2.<java.util.concurrent.atomic.AtomicReference: void <init>(java.lang.Object)>($r0) {2136159680}";
"specialinvoke $r2.<java.util.concurrent.atomic.AtomicReference: void <init>(java.lang.Object)>($r0) {2136159680}" -> "<java.security.Policy: java.util.concurrent.atomic.AtomicReference policy> = $r2 {1734934842}";
"<java.security.Policy: java.util.concurrent.atomic.AtomicReference policy> = $r2 {1734934842}" -> "$r3 = staticinvoke <sun.security.util.Debug: sun.security.util.Debug getInstance(java.lang.String)>(\"policy\") {522423241}";
"$r3 = staticinvoke <sun.security.util.Debug: sun.security.util.Debug getInstance(java.lang.String)>(\"policy\") {522423241}" -> "<java.security.Policy: sun.security.util.Debug debug> = $r3 {2042122456}";
"<java.security.Policy: sun.security.util.Debug debug> = $r3 {2042122456}" -> "return {1459092996}";
}


