digraph schedule {
"this := @this: java.util.Timer {1428223605}" -> "param0 := @parameter0: java.util.TimerTask {1223820621}";
"param0 := @parameter0: java.util.TimerTask {1223820621}" -> "param1 := @parameter1: long {435930516}";
"param1 := @parameter1: long {435930516}" -> "param2 := @parameter2: long {2001568374}";
"param2 := @parameter2: long {2001568374}" -> "virtualinvoke param0.<java.util.TimerTask: void run()>() {1826777478}";
"virtualinvoke param0.<java.util.TimerTask: void run()>() {1826777478}" -> "return {737335019}";
}


