digraph schedule {
"this := @this: java.util.Timer {583636056}" -> "param0 := @parameter0: java.util.TimerTask {1907405432}";
"param0 := @parameter0: java.util.TimerTask {1907405432}" -> "param1 := @parameter1: long {723868567}";
"param1 := @parameter1: long {723868567}" -> "param2 := @parameter2: long {486450746}";
"param2 := @parameter2: long {486450746}" -> "virtualinvoke param0.<java.util.TimerTask: void run()>() {1526325278}";
"virtualinvoke param0.<java.util.TimerTask: void run()>() {1526325278}" -> "return {1535238453}";
}


