digraph schedule {
"this := @this: java.util.Timer {1393710872}" -> "param0 := @parameter0: java.util.TimerTask {2062755811}";
"param0 := @parameter0: java.util.TimerTask {2062755811}" -> "param1 := @parameter1: long {894844492}";
"param1 := @parameter1: long {894844492}" -> "param2 := @parameter2: long {251161714}";
"param2 := @parameter2: long {251161714}" -> "virtualinvoke param0.<java.util.TimerTask: void run()>() {305334212}";
"virtualinvoke param0.<java.util.TimerTask: void run()>() {305334212}" -> "return {378797968}";
}


