.container {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
}

.container_0 {
    height: 700px;
    width: 700px;
}

.container_1 {
    width: 300px;
}

.grid_0 {
    display: inline;
    float: left;
}

.grid_1 {
    margin-right: 100px;
}

