body { 
font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    margin: 0;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 1400px;
}

.container_0 {
    height: 1000px;
    width: 900px;
}

.container_1 {
    width: 400px;
}

.grid_0 {
    display: inline;
    float: left;
}

.grid_1 {
    margin-right: 50px;
}

